<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monty</title>

    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="Blog.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section id="home">
        <div class="navbar">
            <div class="logo">
                <h2><span>MY</span>BOOK</h2>
                <img src="../assets/cart.png" alt="">
            </div>

            <div class="navlinks">
                <a onclick="oHome()">Explorer</a>
                <a onclick="oShop()">Shop</a>
                <a onclick="oBlog()" class="active">Blog</a>
                <div class="btn">
                    Log in
                </div>
            </div>
        </div>

        <div class="hero">
            <div class="text">
                <h1>READ AND ADD <br> YOUR INSIGHT</h1>
                <p>Find your favourite book and read it here for free</p>

                <div class="search">
                    <img src="../assets/search-1.png" alt="">

                    <input type="search" placeholder="Search Book">
                </div>
            </div>

            <div class="image">
                <img src="../assets/blog-hero.svg" alt="">
            </div>
        </div>
    </section>

    <section class="blogBody">
        <div class="blogCard">
            <img src="../assets/blog-card-1.png" alt="">
            <div class="cardText">

                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat pellentesque consequat orci arcu habitasse hac cum dictumst. Urna, porta ornare ut quis </p>
            </div>
        </div>
        <div class="blogCard">
            <img src="../assets/blog-card-1.png" alt="">
            <div class="cardText">

                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat pellentesque consequat orci arcu habitasse hac cum dictumst. Urna, porta ornare ut quis </p>
            </div>
        </div>
        <div class="blogCard">
            <img src="../assets/blog-card-1.png" alt="">
            <div class="cardText">

                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat pellentesque consequat orci arcu habitasse hac cum dictumst. Urna, porta ornare ut quis </p>
            </div>
        </div>
        <div class="blogCard">
            <img src="../assets/blog-card-1.png" alt="">
            <div class="cardText">

                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat pellentesque consequat orci arcu habitasse hac cum dictumst. Urna, porta ornare ut quis </p>
            </div>
        </div>
        <div class="blogCard">
            <img src="../assets/blog-card-1.png" alt="">
            <div class="cardText">

                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat pellentesque consequat orci arcu habitasse hac cum dictumst. Urna, porta ornare ut quis </p>
            </div>
        </div>
        <div class="blogCard">
            <img src="../assets/blog-card-1.png" alt="">
            <div class="cardText">

                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat pellentesque consequat orci arcu habitasse hac cum dictumst. Urna, porta ornare ut quis </p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div></div>

        <h2>2020 <span>MY</span>BOOK</h2>
        
        <div class="footerList">
            <a>Explorer</a>
            <a>Shop</a>
            <a>About</a>
        </div>
    </section>

    <script src="../app.js"></script>
</body>

</html>