<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monty</title>

    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="./CheckOut.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>
<body>
    
    <section class="checkOutSection">
        <img src="../assets/back.svg" alt="" onclick="oShop()">

        <div class="checkOut">
            <div class="left">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="right">
                <h1>Cerita Serupa</h1>

                <div class="cardList">
                    <div class="cardBox1">
                        <img src="../assets/book1.png" alt="">

                        <div class="cardText">
                            <h2>All The Light We Cannot See</h2>
                            <h4>By Anthony Doerr</h4>
                            <img src="../assets/star-and-votes.svg" alt="">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                                consequatur sed quos.</p>
                        </div>
                    </div>
                    <div class="cardBox1">
                        <img src="../assets/book1.png" alt="">

                        <div class="cardText">
                            <h2>All The Light We Cannot See</h2>
                            <h4>By Anthony Doerr</h4>
                            <img src="../assets/star-and-votes.svg" alt="">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                                consequatur sed quos.</p>
                        </div>
                    </div>
                    <div class="cardBox1">
                        <img src="../assets/book1.png" alt="">

                        <div class="cardText">
                            <h2>All The Light We Cannot See</h2>
                            <h4>By Anthony Doerr</h4>
                            <img src="../assets/star-and-votes.svg" alt="">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                                consequatur sed quos.</p>
                        </div>
                    </div>
                    <div class="cardBox1">
                        <img src="../assets/book1.png" alt="">

                        <div class="cardText">
                            <h2>All The Light We Cannot See</h2>
                            <h4>By Anthony Doerr</h4>
                            <img src="../assets/star-and-votes.svg" alt="">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                                consequatur sed quos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div></div>

        <h2>2020 <span>MY</span>BOOK</h2>
        
        <div class="footerList">
            <a>Explorer</a>
            <a>Shop</a>
            <a>About</a>
        </div>
    </section>

    <script src="../app.js"></script>
</body>
</html>