<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monty</title>

    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="Shop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section id="home">
        <div class="navbar">
            <div class="logo">
                <h2><span>MY</span>BOOK</h2>
                <img src="../assets/cart.png" alt="">
            </div>

            <div class="navlinks">
                <a onclick="oHome()">Explorer</a>
                <a onclick="oShop()" class="active">Shop</a>
                <a onclick="oBlog()">Blog</a>
                <div class="btn">
                    Log in
                </div>
            </div>
        </div>

        <div class="hero">
            <div class="text">
                <h1>APPRECIATE YOUR<br> AUTHOR'S WORK</h1>
                <p>Find your favourite book and read it here for free</p>

                <div class="search">
                    <img src="../assets/search-1.png" alt="">

                    <input type="search" placeholder="Search Book">
                </div>
            </div>

            <div class="image">
                <img src="../assets/hero-img.svg" alt="">
            </div>
        </div>
    </section>

    <section class="bookSection">
        <div class="genre">
            <div>
                <h5>Book by Genre</h5>
                <p class="active">All Genres</p>
                <p>Business</p>
                <p>Science</p>
                <p>Fiction</p>
                <p>Philosophy</p>
                <p>Biography</p>
            </div>

            <div>
                <h5>Book by Genre</h5>
                <p>All Genres</p>
                <p>Business</p>
                <p>Science</p>
                <p>Fiction</p>
                <p>Philosophy</p>
                <p>Biography</p>
            </div>
        </div>

        <div class="bookShop">
            <div class="cardBox1">
                <img src="../assets/book1.png" alt="">

                <div class="cardText">
                    <h2>All The Light We Cannot See</h2>
                    <h4>By Anthony Doerr</h4>
                    <img src="../assets/star-and-votes.svg" alt="">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                        consequatur sed quos.</p>

                    <div class="btn" onclick="oCheckOut()">
                        Buy Now
                    </div>
                </div>
            </div>
            
            <div class="cardBox1">
                <img src="../assets/book1.png" alt="">

                <div class="cardText">
                    <h2>All The Light We Cannot See</h2>
                    <h4>By Anthony Doerr</h4>
                    <img src="../assets/star-and-votes.svg" alt="">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                        consequatur sed quos.</p>

                    <div class="btn" onclick="oCheckout()">
                        Buy Now
                    </div>
                </div>
            </div>

            <div class="cardBox1">
                <img src="../assets/book1.png" alt="">

                <div class="cardText">
                    <h2>All The Light We Cannot See</h2>
                    <h4>By Anthony Doerr</h4>
                    <img src="../assets/star-and-votes.svg" alt="">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                        consequatur sed quos.</p>

                    <div class="btn" onclick="oCheckout()">
                        Buy Now
                    </div>
                </div>
            </div>

            <div class="cardBox1">
                <img src="../assets/book1.png" alt="">

                <div class="cardText">
                    <h2>All The Light We Cannot See</h2>
                    <h4>By Anthony Doerr</h4>
                    <img src="../assets/star-and-votes.svg" alt="">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                        consequatur sed quos.</p>

                    <div class="btn" onclick="oCheckout()">
                        Buy Now
                    </div>
                </div>
            </div>

            <div class="cardBox1">
                <img src="../assets/book1.png" alt="">

                <div class="cardText">
                    <h2>All The Light We Cannot See</h2>
                    <h4>By Anthony Doerr</h4>
                    <img src="../assets/star-and-votes.svg" alt="">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                        consequatur sed quos.</p>

                    <div class="btn" onclick="oCheckout()">
                        Buy Now
                    </div>
                </div>
            </div>
            
            <div class="cardBox1">
                <img src="../assets/book1.png" alt="">

                <div class="cardText">
                    <h2>All The Light We Cannot See</h2>
                    <h4>By Anthony Doerr</h4>
                    <img src="../assets/star-and-votes.svg" alt="">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                        consequatur sed quos.</p>

                    <div class="btn" onclick="oCheckout()">
                        Buy Now
                    </div>
                </div>
            </div>

            <div class="cardBox1">
                <img src="../assets/book1.png" alt="">

                <div class="cardText">
                    <h2>All The Light We Cannot See</h2>
                    <h4>By Anthony Doerr</h4>
                    <img src="../assets/star-and-votes.svg" alt="">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                        consequatur sed quos.</p>

                    <div class="btn" onclick="oCheckout()">
                        Buy Now
                    </div>
                </div>
            </div>

            <div class="cardBox1">
                <img src="../assets/book1.png" alt="">

                <div class="cardText">
                    <h2>All The Light We Cannot See</h2>
                    <h4>By Anthony Doerr</h4>
                    <img src="../assets/star-and-votes.svg" alt="">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis
                        consequatur sed quos.</p>

                    <div class="btn" onclick="oCheckout()">
                        Buy Now
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="footer">
        <div></div>

        <h2>2020 <span>MY</span>BOOK</h2>
        
        <div class="footerList">
            <a>Explorer</a>
            <a>Shop</a>
            <a>About</a>
        </div>
    </section>

    <script src="../app.js"></script>
</body>

</html>